<div #container class="container font-family transition">
    <input #input
           type="text" 
           *ngIf="!disabled"
           class="input-text font-family transition"
           [disabled]="disabled"
           />
         
    <div class="dropdown-trigger" (click)="onTriggerClick($event)">     
        <svg width="16" height="14" xmlns="http://www.w3.org/2000/svg">
            <line x1="8" y1="14" x2="0" y2="3" style="stroke:gray;stroke-width:2" />
            <line x1="8" y1="14" x2="16" y2="3" style="stroke:gray;stroke-width:2" />          
        </svg>
    </div> 

    <div #overlay *ngIf="overlayVisible" class="overlay font-family">
        <div class="dropdown-panel">
            <div class="dropdown-items-wrapper">
                <ng-container *ngIf="dataItems && dataItems | async as items">
                    <ul role="listbox">
                        <li *ngFor="let item of items; let i = index" class="dropdown-item">
                            <span>{{ item.Value }}</span>
                        </li>
                    </ul>
                </ng-container>               
            </div>
        </div>
    </div>
</div>


